/*
Author: Joseph Sutton
Date:03-05-24
File Name: styles07.css
*/

/* CSS Reset */
body, header, main, footer, h1, h3, section, article {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #dfe7c4;
}

.column {
	float: left;
	width: 33.33%;
  }
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }

/* Style rule for header */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #628c45;
	color: #dfe7c4;
	padding: 2%;
    text-align: center;
}

/* Style rules for main content  */
main {
	background-color: #fff;
}

aside {
    padding: 2%;
}

footer {
	font-size: .70em;
	text-align: center;
}